.footer {
  width: 100%;
  background-color: var(--background);
}
.footer .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 45px 10px;
}

.footer .grupo1 .box h2 {
  text-align: center;
  color: var(--white);
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box p {
  color: var(--white);
  margin-bottom: 10px;
}

.footer .grupo2 {
  background-color: var(--secondary-color);
  padding: 15px 10px;
  text-align: center;
  color: var(--white);
}
.footer .grupo2 small {
  font-size: 15px;
}
