* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #333;
  --primary-color: #1ca9c9;
  --white: #f2f2f2;
  --secondary-color: #6f10a3;
  --background: #464646;
}

#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
